NET "Clock"	 LOC = B8;
NET "Reset"	 LOC = A7;

Net "LED<0>" LOC = M5;
Net "LED<1>" LOC = M11;
Net "LED<2>" LOC = N5;
Net "LED<3>" LOC = N4;
Net "LED<4>" LOC = P4;
Net "LED<5>" LOC = G1;

Net "SEG<6>" LOC = M12;
Net "SEG<5>" LOC = L13;
Net "SEG<4>" LOC = P12;
Net "SEG<3>" LOC = N11;
Net "SEG<2>" LOC = N14;
Net "SEG<1>" LOC = H12;
Net "SEG<0>" LOC = L14;

Net "AN<0>"  LOC = F12;
Net "AN<1>"  LOC = J12;
Net "AN<2>"  LOC = M13;
Net "AN<3>"  LOC = K14;

NET "RXD" LOC = B7;
NET "TXD" LOC = C5;

NET "Servo1PWM"		LOC = "A9";
NET "Servo2PWM"		LOC = "B9";

NET "Mode"	LOC = N3;